.promo b {
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $white;
}

.promo p {
  margin: 0;
  margin-top: 24px;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: $white;
  opacity: 0.8;
}
